<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/css/newEfect.css">
    <script src="/js/index.js"></script>

</head>
<body>
    <%- include('../layout/navbarAdmin') %>

    <div class="container" id="principal">
        <a href="/post/create" class="btn btn-primary col-12">Novo Post</a>
    </div>
</body>
</html>